<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome {{user.name}}
    <form action="/logout">
        {% csrf_token %}
        <button>Logout</button>
    </form>
    <div class="container">
        <h1>Employee Home</h1>
        <div class="right">
            <button>Logout</button>
        </div>
        <div class="details">
            <div class="row">
                <p>Name</p>
                <p>xxxxxxxxxx</p>
            </div>
            <div class="row">
                <p>Place</p>
                <p>xxxxxxxxxxxxx</p>
            </div>
            <div class="row">
                <p>Email</p>
                <p>xxxxxxxxxxxxx</p>
            </div>
            <div class="row">
                <p>Address</p>
                <p>
                    <p>xxxxxxxxx</p>
                    <p>xxxxxxxxx</p>
                    <p>xxxxxxxx</p>
                </p>
            </div>
        </div>
    </div>
</body>
</html>